@font-face {
    font-family: "Cepheus";
    src: url("stark.otf");
}

body{
    font-family: Cepheus;
}

div {
    box-sizing: border-box;
}

/* Container */
#container {
    display: flex;
    flex-flow: row nowrap;
    width: 1240px;
    height: 840px;
    margin: 20px;
    padding: 20px;
}

/* Map */
#map {
    flex-direction: row;
    margin: auto;
    width: 800px;
    height: 800px;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    border: solid 1px rgb(255, 255, 255);
}

/* Description */
#description {
    flex-direction: row;
    width: 340px;
    height: 800px;
    margin: auto;
    padding: 4px;
}

#description ul {
    padding-left: 16px;
    list-style-type: square;
}

#description li {
    padding: 4px;
    border-bottom: solid 1px rgb(210, 210, 210);
}

#description li:nth-child(even) {
    background-color: rgb(240, 240, 240);
}

#description li:first-child {
    border-top: solid 1px rgb(210, 210, 210);
}

#description li:first-letter {
    text-transform: uppercase;
}

/* Actions */
#actions {
    width: 200px;
    margin: auto;
}

#actions button {
    width: 120px;
    padding: 4px;
}

/* Animations */

@keyframes generate {
    0% { opacity: 0; }
    10% { opacity: 0; }
    15% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes blink {
    0% { opacity: 1; }
    10% { opacity: 0.9; }
    15% { opacity: 0.7; }
    60% { opacity: 0.9; }
    100% { opacity: 0.6; }
}

#sector {
    cursor: pointer;
    animation: generate 4s linear;
}

#sector .star {
    animation: blink 2s ease-in-out infinite;
}